body
    background-color: #ededed

.sign-up
    margin-top: 1em
    margin-left: -300px

.sign-form
    max-width: 480px
    margin: 2em auto
    padding: 30px
    border-radius: 15px
    background-color: #fff
 

.user-profile-data
    max-width: 800px
    background-color: #fff
    padding: 30px
    border-radius: 15px

.error
    font-size: 16px
    