@media screen and (max-width:899px)
    .user-profile-data
        margin: 0 auto 
@media screen and (min-width:900px)
    .user-profile-data
        margin-left: 18.75em
@media screen and (min-width:1480px)
    .user-profile-data
        margin: 0 auto
